* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.main-header {
    width: 100%;
    padding: 8px 16px;
    border-bottom: solid 1px gray;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 10px 0
}

.main-header__brand {
    font-family: 'Comfortaa', cursive;
    color: #4682B4;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    display: flex;

}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 95px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
}
.main-nav__item {
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #4682B4;
    font-weight: bold;
    padding: 3px 0;

}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #4682B4;
    border-bottom: 5px solid #4682B4;

}

.main-nav__item--cta a {
    color:#4682B4;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #4682B4;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: white;
    background: #4682B4;
    border: 1px solid #4682B4;
}

.background-image {
    background: url(./cropped.jpg);
    height: 495px;
    background-color: #f6f5f1;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
}

.text-container{
    font-family: 'Comfortaa', cursive;
    flex-basis: 480px;
    background-color: white;
    margin: auto;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 4px;
}

.login-panel {
    font-family: 'Comfortaa', cursive;
    color: #4682B4;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 2em;
    padding: 32px 0 40px 0;
    max-width: 650px;
    border-radius: 4px;
    border: solid #4682B4 1px;
}

#sign-up{
    margin: 20px auto;
    width: 53%;
    font-family: 'Comfortaa', cursive;
    color: white;
    max-width: 320px;
    display: block;
    text-align: center;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: normal;
    background: #4682B4;
    cursor: pointer;

    
}

#sign-up:hover{
    background-color: #00008B;
}

a {
    text-decoration: none;
}

#log-in{
    font-family: 'Comfortaa', cursive;
    margin: 5px auto;
    width: 53%;
    max-width: 320px;
    display: block;
    text-align: center;
    padding: 0.5em 1.38em 0.5em;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: normal;
    cursor: pointer;
}

#log-in:hover{
    background-color: darkgray;

}

.get-help{
    font-family: 'Comfortaa', cursive;
    background: #4682B4;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 1.125rem;
    line-height: 22px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 19px;
    font-weight: normal;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 0.5rem;
    cursor: pointer;
}

.search-input {
    font-family: 'Comfortaa', cursive;
    width: 60%;
    vertical-align: middle;
    min-height: 46px;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    cursor: text;
}

