* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


.main-header {
    width: 100%;
    padding: 8px 16px;
    border-bottom: solid 1px gray;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0 10px 0
}

.main-header__brand {
    font-family: 'Comfortaa', cursive;
    color: #4682B4;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    display: flex;

}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 95px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
}
.main-nav__item {
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #4682B4;
    font-weight: bold;
    padding: 3px 0;

}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: #4682B4;
    border-bottom: 5px solid #4682B4;

}

.main-nav__item--cta a {
    color:#4682B4;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #4682B4;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: white;
    background: #4682B4;
    border: 1px solid #4682B4;
}

.background-image {
    background: url(./cropped.jpg);
    height: 495px;
    background-color: #f6f5f1;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
}

.text-container{
    font-family: 'Comfortaa', cursive;
    flex-basis: 480px;
    background-color: white;
    margin: auto;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 4px;
}